// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * RPi Camera V2.1 on BeagleY AI CSI1 port
 *
 * Copyright (C) 2026 Ideas On Board Oy
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "k3-pinctrl.h"

&{/} {
	clk_imx219_csi1: imx219-csi1-xclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	reg_3p3v_csi1: regulator-3p3v-csi1 {
		compatible = "regulator-fixed";
		regulator-name = "3P3V_CSI1";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
		startup-delay-us = <200000>;
		off-on-delay-us = <30000>;
		enable-active-high;
		gpio = <&main_gpio1 24 GPIO_ACTIVE_HIGH>;

	};

	reg_1p8v_csi1: regulator-1p8v-csi1 {
		compatible = "regulator-fixed";
		regulator-name = "1P8V_CSI1";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vdd_3v3>;
		regulator-always-on;
	};

	reg_1p2v_csi1: regulator-1p2v-csi1 {
		compatible = "regulator-fixed";
		regulator-name = "1P2V_CSI1";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&vdd_3v3>;
		regulator-always-on;
	};
};

&main_pmx0 {
	cam1_reset_pins_default: cam1-default-reset-pins {
		pinctrl-single,pins = <
			J722S_IOPAD(0x01d8, PIN_OUTPUT, 7) /* (D22) MCAN0_TX.GPIO1_24 */
		>;
	};
};

&dsi_csi_mux {
	idle-state = <1>;
};

&main_i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_i2c0_pins_default>;
	clock-frequency = <400000>;

	#address-cells = <1>;
	#size-cells = <0>;

	imx219_1: sensor@1a {
		compatible = "sony,imx678-aaqr", "sony,imx678";
		reg = <0x1a>;

		orientation = <2>;
		rotation = <0>;

		clocks = <&clk_imx219_csi1>;

		avdd-supply = <&reg_3p3v_csi1>;
		ovdd-supply = <&reg_1p8v_csi1>;
		dvdd-supply = <&reg_1p2v_csi1>;

		pinctrl-names = "default";
		pinctrl-0 = <&cam1_reset_pins_default>;

		port {
			csi2_cam1: endpoint {
				remote-endpoint = <&csi2rx1_in_sensor>;
				link-frequencies = /bits/ 64 <720000000>;
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&cdns_csi2rx1 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		csi1_port0: port@0 {
			reg = <0>;
			status = "okay";

			csi2rx1_in_sensor: endpoint {
				remote-endpoint = <&csi2_cam1>;
				bus-type = <4>; /* CSI2 DPHY. */
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&ti_csi2rx1 {
	status = "okay";
};

&dphy1 {
	status = "okay";
};
