// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for AM64 SoC Family MCU Domain peripherals
 *
 * Copyright (C) 2020 Texas Instruments Incorporated - https://www.ti.com/
 */

&cbass_mcu {

	mcu_gpio_intr: interrupt-controller1 {
		compatible = "ti,sci-intr";
		ti,intr-trigger-type = <1>;
		interrupt-controller;
		interrupt-parent = <&gic500>;
		#interrupt-cells = <1>;
		ti,sci = <&dmsc>;
		ti,sci-dev-id = <5>;
		ti,interrupt-ranges = <0 104 4>;
	};

	mcu_gpio0: gpio@4201000 {
		compatible = "ti.am64-gpio", "keystone-gpio";
		reg = <0x0 0x4201000 0x0 0x100>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&mcu_gpio_intr>;
		interrupts = <30>, <31>;
		interrupt-controller;
		#interrupt-cells = <2>;
		ti,ngpio = <23>;
		ti,davinci-gpio-unbanked = <0>;
		clocks = <&k3_clks 79 0>;
		clock-names = "gpio";
	};
};
