// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020 Texas Instruments Incorporated - http://www.ti.com/
 */

/dts-v1/;

#include "k3-am64x.dtsi"

/ {
	compatible =  "ti,am64-vlab", "ti,am64";
	model = "Texas Instruments AM64 Zebu";

	chosen {
		stdout-path = "serial2:115200n8";
		bootargs = "root=/dev/ram0 initrd=0x82400000,20M ramdisk_size=20480 init=/bin/sh console=ttyS2,115200n8 earlycon=ns16550a,mmio32,0x02800000";
	};

	memory@80000000 {
		device_type = "memory";
		/* 512MB RAM */
		reg = <0x00000000 0x80000000 0x00000000 0x20000000>;

	};

	mbox_test {
		compatible = "ti,omap-mbox-test";
		mboxes = <&mailbox0_cluster2 &mbox_loop2_0>,
			 <&mailbox0_cluster2 &mbox_loop2_1>,
			 <&mailbox0_cluster3 &mbox_loop3_0>,
			 <&mailbox0_cluster3 &mbox_loop3_1>,
			 <&mailbox0_cluster4 &mbox_loop4_0>,
			 <&mailbox0_cluster4 &mbox_loop4_1>,
			 <&mailbox0_cluster5 &mbox_loop5_0>,
			 <&mailbox0_cluster5 &mbox_loop5_1>,
			 <&mailbox0_cluster6 &mbox_loop6>,
			 <&mailbox0_cluster7 &mbox_loop7>;
		mbox-names = "mbox-loop2-0", "mbox-loop2-1",
			     "mbox-loop3-0", "mbox-loop3-1",
			     "mbox-loop4-0", "mbox-loop4-1",
			     "mbox-loop5-0", "mbox-loop5-1",
			     "mbox-loop6", "mbox-loop7";
	};
};
&main_uart0 {
	clock-frequency = <3686400>;
	current-speed = <115200>;
};

&mailbox0_cluster2 {
	mbox_loop2_0: mbox-loop2-0 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};

	mbox_loop2_1: mbox-loop2-1 {
		ti,mbox-rx = <14 1 3>;
		ti,mbox-tx = <14 1 3>;
	};
};

&mailbox0_cluster3 {
	mbox_loop3_0: mbox-loop3-0 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};

	mbox_loop3_1: mbox-loop3-1 {
		ti,mbox-rx = <13 1 3>;
		ti,mbox-tx = <13 1 3>;
	};
};

&mailbox0_cluster4 {
	mbox_loop4_0: mbox-loop4-0 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};

	mbox_loop4_1: mbox-loop4-1 {
		ti,mbox-rx = <12 1 3>;
		ti,mbox-tx = <12 1 3>;
	};
};

&mailbox0_cluster5 {
	mbox_loop5_0: mbox-loop5-0 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};

	mbox_loop5_1: mbox-loop5-1 {
		ti,mbox-rx = <11 1 3>;
		ti,mbox-tx = <11 1 3>;
	};
};

&mailbox0_cluster6 {
	mbox_loop6: mbox-loop6 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};
};

&mailbox0_cluster7 {
	mbox_loop7: mbox-loop7 {
		ti,mbox-rx = <15 0 2>;
		ti,mbox-tx = <15 0 2>;
	};
};

&cpsw3g_mdio {
	status = "disabled";
};

&cpsw_port1 {
	phy-mode = "rgmii-rxid";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&cpsw_port2 {
	phy-mode = "rgmii-rxid";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
